<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="yandex-verification" content="643e8f3521d9d5be"/>
    <meta name="description"
          content="Шары для боулинга, обувь для боулинга, сумки для шаров, аксессуары для боулинга - всё это можно купить на сайте https://bowling-petersburg.ru/">
    <meta name="Keywords"
          content="боулинг, шары для боулинга, шар для боулинга купить, обувь для боулинга, сумка для боулинга, турнир по боулингу, школа боулинга, обучение боулингу, туфли для боулинга, все боулинг клубы спб, купить шар для боулинга, боулинг в питере, спортивный боулинг, боулинг в санкт-петербурге, специализированный спортивный сайт, Bowling stars, AMF, Brunswick, Kegel, Xima, Switch, Via bowling">
    <link rel="icon" href="{% static 'logo.png' %}">
    <title>{% block title %}Товары и услуги для боулинга на Bowling-Petersburg{% endblock %}</title>
    <link href="{% static 'css/app.d4897cfc.css' %}" rel="preload" as="style">
    <link href="{% static 'js/app.13f85cc9.js' %}" rel="preload" as="script">
    <link href="{% static 'js/chunk-vendors.f3f80e61.js' %}" rel="preload" as="script">
    <link href="{% static 'css/app.d4897cfc.css' %}" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
{% block app %}
{% endblock %}
<script src="{% static 'js/app.13f85cc9.js' %}"></script>
<script src="{% static 'js/chunk-vendors.f3f80e61.js' %}"></script>
</body>
</html>