<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'logo.png' %}">
    <title>{% block title %}Bowling-Petersburg{% endblock %}</title>
    <link href="{% static 'css/app.d4897cfc.css' %}" rel="preload" as="style">
    <link href="{% static 'js/app.13f85cc9.js' %}" rel="preload" as="script">
    <link href="{% static 'js/chunk-vendors.f3f80e61.js' %}" rel="preload" as="script">
    <link href="{% static 'css/app.d4897cfc.css' %}" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
{% block app %}
{% endblock %}
<script src="{% static 'js/app.13f85cc9.js' %}"></script>
<script src="{% static 'js/chunk-vendors.f3f80e61.js' %}"></script>
</body>
</html>