{% extends 'basic.html' %}

{% block app %}
    <div id="app">
        {% include 'header.html' %}
        <section data-v-68c42c0a="" class="training_section">
            <div data-v-68c42c0a="" class="container"><h1 data-v-68c42c0a="">Школа Боулинга</h1>
                <div data-v-68c42c0a="" class="content">
                    <div data-v-68c42c0a="" class="trainings"><h3 data-v-68c42c0a="">ДЕТСКАЯ ШКОЛА БОУЛИНГА ПРИГЛАШАЕТ
                        ДЕТЕЙ ОТ 6 ДО 16 ЛЕТ!</h3>
                        <p data-v-68c42c0a=""><b data-v-68c42c0a="">Боулинг</b>, пожалуй, одна из немногих игр, если не
                            единственная, в которую можно научиться играть в любом возрасте, людям любой комплекции
                            обоих полов. Причем можно играть как для своего удовольствия, так и подходить к боулингу как
                            к серьезному виду спорта. Например, в сезоне 2009-10 в лучшей лиге боулеров мира PBA,
                            победителем стал 50-летний Walter Ray Williams, Jr.</p>
                        <p data-v-68c42c0a="">Особенно <b data-v-68c42c0a="">боулинг</b>, как спорт, подходит <b
                                data-v-68c42c0a="">детям</b> - малотравматичен, не требует значительных сверхусилий
                            (конечно по сравнению с такими видами спорта как бег, гимнастика и проч.), приучает к
                            терпению и концентрации, умению аналитически мыслить и быстро принимать решения.</p>
                        <p data-v-68c42c0a=""><b data-v-68c42c0a="">Научиться играть в боулинг</b> - важная, но далеко
                            не единственная задача школы.</p>
                        <p data-v-68c42c0a=""><b data-v-68c42c0a="">Основная цель</b> - стимулирование работы
                            воображения, удовлетворение потребности ребенка в движении, улучшение координации,
                            укрепление всех групп мышц, а также благоприятное влияние на здоровье. Боулинг является
                            больше индивидуальной игрой, поэтому рост мастерства Вашего ребенка будет всегда виден, как
                            на ладони. Но, в то же время, в боулинг, играют с соперниками и Ваш ребенок будет общаться
                            со сверстниками и развивать свои коммуникативные навыки.</p>
                        <p data-v-68c42c0a=""><b data-v-68c42c0a="">Форма одежды для занятий:</b> мальчики -
                            классические брюки, брюки-слаксы, возможны аккуратные спортивные брюки, без ремешков и
                            тесемок, спортивная футболка; девочки - брюки или юбка, спортивная футболка. Джинсы и
                            неопрятная одежда для занятий недопустимы. Обувь и тренировочные шары предоставляются БЦ
                            "Боулинг Парк ".</p>
                        <p data-v-68c42c0a="" style="text-indent: 0px;">Школа приветствует пользование учениками
                            собственного инвентаря и обуви.</p>
                        <p data-v-68c42c0a="" style="text-align: center;"><b data-v-68c42c0a="">Ученикам детской школы
                            предоставляется 10% скидка на все товары для боулинга в нашем магазине.</b></p><h4
                                data-v-68c42c0a="">ВНИМАНИЕ! Предлагаем Вам новые формы приобщения и обучения детей
                            боулингу.</h4>
                        <div data-v-68c42c0a="" class="price">
                            <ul data-v-68c42c0a="">
                                <li data-v-68c42c0a="">1 занятие (45 мин) - 500 рублей.</li>
                                <li data-v-68c42c0a="">1 занятие (1 час) - 750 рублей.</li>
                                <li data-v-68c42c0a="">1 занятие (1 час 15 мин) - 900 рублей.</li>
                                <li data-v-68c42c0a="">1 занятие (1 час 30 мин) - 1000 рублей.</li>
                            </ul>
                        </div>
                        <p data-v-68c42c0a="" style="text-align: center;">Обращаем Ваше внимание, что во все цены
                            указаны с учетом стоимости аренды дорожки.</p>
                        <p data-v-68c42c0a="" style="text-indent: 0px;"><b data-v-68c42c0a="">Предметы и дисциплины:</b><br
                                data-v-68c42c0a=""> История боулинга. Техника игры в боулинг. "Математика" дорожек.
                            Приспособления и аксессуары для игры в боулинг. Психология и этика поведения спортсмена.
                            Общая физическая подготовка.</p>
                        <p data-v-68c42c0a=""
                           style="border-bottom: 1px solid rgb(204, 204, 204); padding-bottom: 15px; margin-bottom: 20px; text-indent: 0px;">
                            При индивидуальных занятиях («Продвинутая группа») заводится спорт-карта.</p>
                        <h3 data-v-68c42c0a="">ВЗРОСЛАЯ ШКОЛА БОУЛИНГА</h3>
                        <p data-v-68c42c0a="">Школа спортивного боулинга "Боулинг Парк " приглашает всех желающих
                            научиться правильно играть в боулинг и совершенствовать свою технику игры. Тренеры школы
                            работают с игроками начального и продвинутого уровня.</p>
                        <div data-v-68c42c0a="" class="conditions">
                            <ul data-v-68c42c0a="">
                                <li data-v-68c42c0a="">время одного занятия -1 час;</li>
                                <li data-v-68c42c0a="">36 дорожек Brunswick, натирочная машина Authority22;</li>
                                <li data-v-68c42c0a="">работа с игроками начального и продвинутого уровня;</li>
                                <li data-v-68c42c0a="">практика и теоретические занятия;</li>
                                <li data-v-68c42c0a="">ученики получают дополнительные скидки на про-шоп, включая
                                    cверление шаров;
                                </li>
                            </ul>
                        </div>
                        <p data-v-68c42c0a=""><b data-v-68c42c0a="">Время занятий:</b> понедельник-пятница с 11:00 до
                            23:00.</p>
                        <p data-v-68c42c0a=""><b data-v-68c42c0a="">Стоимость аренды дорожки за 1 час:</b> пн-пт с 11:00
                            до 18:00 - 192 руб.; пн-чт с 18:00 до 23:00 - 276 руб.; пт с 18:00 до 23:00 - 432 руб.</p>
                        <table data-v-68c42c0a="">
                            <thead data-v-68c42c0a="">
                            <tr data-v-68c42c0a="">
                                <th data-v-68c42c0a="">Количество занятий</th>
                                <th data-v-68c42c0a="">Стоимость, руб.</th>
                                <th data-v-68c42c0a="">Примечание</th>
                            </tr>
                            </thead>
                            <tbody data-v-68c42c0a="">
                            <tr data-v-68c42c0a="">
                                <td data-v-68c42c0a="">1</td>
                                <td data-v-68c42c0a="">1500</td>
                                <td data-v-68c42c0a="">Индивидуальное занятие</td>
                            </tr>
                            <tr data-v-68c42c0a="">
                                <td data-v-68c42c0a="">10</td>
                                <td data-v-68c42c0a="">10000</td>
                                <td data-v-68c42c0a="">Индивидуальное занятие</td>
                            </tr>
                            <tr data-v-68c42c0a="">
                                <td data-v-68c42c0a="">1</td>
                                <td data-v-68c42c0a="">2000</td>
                                <td data-v-68c42c0a="">Парное занятие</td>
                            </tr>
                            <tr data-v-68c42c0a="">
                                <td data-v-68c42c0a="">10</td>
                                <td data-v-68c42c0a="">15000</td>
                                <td data-v-68c42c0a="">Парное занятие</td>
                            </tr>
                            <tr data-v-68c42c0a="">
                                <td data-v-68c42c0a="">1</td>
                                <td data-v-68c42c0a="">600</td>
                                <td data-v-68c42c0a="">Группа 3-4 человека. Длительность - 1,5 часа. Цена указана для 1
                                    человека.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div data-v-68c42c0a="" class="coach"><h3 data-v-68c42c0a="">ТРЕНЕР</h3><img data-v-68c42c0a=""
                                                                                                 src="/img/sasha.2186d0dd.jpg"
                                                                                                 alt="">
                        <p data-v-68c42c0a="" style="border-bottom: 1px solid rgb(204, 204, 204);">Тренер - <br
                                data-v-68c42c0a=""><span data-v-68c42c0a="" style="color: rgb(244, 67, 54);"><b
                                data-v-68c42c0a="">Удэм Александра</b></span><br data-v-68c42c0a=""><b
                                data-v-68c42c0a="">Мастер спорта России,</b><br data-v-68c42c0a=""> шестикратная
                            чемпионка Санкт-Петербурга; двукратная обладательница Кубка Санкт-Петербурга; призер
                            чемпионатов России.</p>
                        <p data-v-68c42c0a="">По всем интересующим вопросам обращайтесь к тренерам школы боулинга по
                            телефонам: <br data-v-68c42c0a=""><b data-v-68c42c0a="">Александра: 8-921-994-65-74</b> <br
                                    data-v-68c42c0a=""><b data-v-68c42c0a="">Марк: 8-911-911-66-85</b></p></div>
                </div>
            </div>
        </section>
        {% include 'footer.html' %}
    </div>
{% endblock %}