<footer>
    <div class="container">
        <div class="footer">
            <div class="footer_section"><h4>Клиентам</h4>
                <div class="footer_nav"><a href="/training" class="">Тренировки</a><a href="#">Услуги Pro-Shop</a>
                </div>
            </div>
            <div class="footer_section"><h4>Информация</h4>
                <div class="footer_nav"><a href="#">О нас</a></div>
            </div>
            <div class="footer_section"><h4>8-911-911-66-85</h4></div>
        </div>
        <div class="footer_logo"><h4>Bowling-Petersburg 2021</h4></div>
    </div>
</footer>