{% extends 'basic.html' %}

{% block app %}
    <div id="app">
        {% include 'header.html' %}
        <div data-v-5a24d9ca="">
            <section data-v-2ae0d0b2="" data-v-5a24d9ca="" class="products">
                <a data-v-2ae0d0b2="" href="/category/balls" class="product_item"
                   style="background-color: rgba(241, 223, 222, 0.82);">
                    <div data-v-2ae0d0b2="" class="products_title"><h3 data-v-2ae0d0b2="">Шары</h3></div>
                    <img data-v-2ae0d0b2="" src="/img/ball.ff6390b5.png" alt=""></a><a data-v-2ae0d0b2=""
                                                                                       href="/category/bags"
                                                                                       class="product_item"
                                                                                       style="background-color: rgba(248, 240, 233, 0.71);">
                <div data-v-2ae0d0b2="" class="products_title"><h3 data-v-2ae0d0b2="">Сумки</h3></div>
                <img data-v-2ae0d0b2="" src="/img/bag.bcaf4b36.png" alt=""></a><a data-v-2ae0d0b2=""
                                                                                  href="/category/shoes"
                                                                                  class="product_item"
                                                                                  style="background-color: rgb(230, 230, 230);">
                <div data-v-2ae0d0b2="" class="products_title"><h3 data-v-2ae0d0b2="">Обувь</h3></div>
                <img data-v-2ae0d0b2="" src="/img/shoes.ab15166a.png" alt=""></a><a data-v-2ae0d0b2=""
                                                                                    href="/category/accessories"
                                                                                    class="product_item"
                                                                                    style="background-color: rgba(224, 241, 222, 0.82);">
                <div data-v-2ae0d0b2="" class="products_title"><h3 data-v-2ae0d0b2="">Аксессуары</h3></div>
                <img data-v-2ae0d0b2="" src="/img/acs.6dd4ef3c.png" alt=""></a></section>
            <section data-v-5a24d9ca="" class="popular">
                <h3>Популярные товары</h3>
                <div class="list_popular_items">
                    {% for product in popular_products %}
                        <div class="popular_item"><a
                                href="/{{ product.product.category }}/{{ product.product.vendor_code }}" class="">
                            <div class="popular_item_img"><img
                                    src="{{ product.product.img }}" alt=""></div>
                            <div class="popular_item_title"><h4>{{ product.product.name }}</h4></div>
                            <div class="popular_item_price"><span>{{ product.product.price }} руб</span></div>
                        </a></div>
                    {% endfor %}
                </div>
            </section>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock %}
